<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content-login">
        <h1>Login</h1>
        <form method="post">
            <p><input type="text" name = 'username' placeholder="Username" required></p>
            <p><input type="password" name = 'password' placeholder="Username" required></p>
            <p><input type="submit" name = 'Login' value="Login"></p>
          
        </form>
    </div>
</body>
</html>