<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/index.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="bienvenida">
        <h1 class="txt">Bienvenid@ {{username}}</h1>
    </div>

    <div class="principal">
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="" class="logo">
                            <img src="/static/img/logo2.png" alt="logo">
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-user"></i>
                        <span class="item-nav">
                            Notas de: {{username}}
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-search"></i>
                        <span class="item-nav">
                            <input type="text" placeholder="Buscar">
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-home"></i>
                        <span class="item-nav">
                            <a href="#">Inicio</a>
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-plus"></i>
                        <span class="item-nav">
                            <button>Crear</button>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header-content">
            <header>
                <h2 class="left">Nombre Nota</h2>
                <div class="right">
                    <button class="btn-share">
                        <i class="fas fa-share"> Compartir </i>
                    </button>

                    <button class="btn-star">
                        <i class="fas fa-star"></i>
                    </button>
                </div>
            </header>
        </div>

        <div class="contenido">
            <div class="notes-content">
                <div class="note">
                    <h3 class="note-title">Nota 1</h3>
                    <textarea name="" id="" placeholder="Escribe algo..."></textarea>
                    <div class="note-actions">
                        <button class="edit-note" aria-label="Editar nota">
                            <i class="fas fa-edit"></i> Editar
                        </button>
                        <button class="delete-note" aria-label="Elimar nota">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <script src="{{url_for('static', filename ='js/index.js')}}"></script>
</body>
</html>